<h1>Productos en el carrito</h1>
<br />
<div class="card-group">
  <% carts.products.forEach(function(product) { %>
  <div class="card">
    <img
      src="<%= product.thumbnail %>"
      class="card-img-top w-50"
      alt="<%= product.name %>"
    />
    <div class="card-body">
      <h5 class="card-title"><%= product.name %></h5>
      <p class="card-text"><%= product.description %></p>
      <p class="card-text">Precio: <%= product.price %></p>
      <p class="card-text">Stock: <%= product.stock %></p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Codigo: <%= product.code %></small>
    </div>
  </div>
  <% }) %>
</div>
